@CHARSET "ISO-8859-1";

body{
	background-image: url("../img/bg.png");
}
#items:after {
  content: '';
  display: block;
  clear: both;
}
.sizer{
	width: 50%;
}
.itemsCont{
	float: left;
	margin: 10px 1%;
	width: 48%;
	display: table-row;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
	
}
.itemsDesc{
	display: table-cell;
	padding: 0 10px;
	background: #2c3e50;
	border-color: #ecf0f1;
  	border-width: 1px 1px 1px 0;
  	border-style: solid;
  	border-radius: 0 4px 4px 0;
  	width: 100%;
}
.itemsImage{
	display: table-cell;
	min-width: 56px;
	height: 56px;
	background-color: #000;
	vertical-align: middle;
  	text-align: center;
  	border-color: #ecf0f1;
  	border-width:1px;
  	border-style: solid;
  	border-radius: 4px 0 0 4px;
}
.itemsImage img{
	/*display: block;*/
}